<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="HugeDataHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
            sendTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binding>
        </basicHttpBinding>
      </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="HugeDataEndPointBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="DefaultBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <services>
            <service behaviorConfiguration="DefaultBehavior" name="ProgramManager.Service.StationService">
                <clear />
                <endpoint address="" behaviorConfiguration="HugeDataEndPointBehavior"
                    binding="basicHttpBinding" bindingConfiguration="HugeDataHttpBinding"
                    contract="ProgramManager.Service.IStationsService" listenUriMode="Explicit" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/program_manager" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>